# Local
.DS_Store
*.local
*.log*

# Dist
node_modules
dist/

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# TypeScript
*.tsbuildinfo

# ENV
.env

# Android
android/.gradle
android/build
android/app/build
android/local.properties
android/Generated
android/.idea
*.apk
*.aar

# Web
web/dist
web/node_modules
web/.nx